[defaults]

# Location of the inventory file containing the managed hosts
inventory = inventory/hosts.yml

# Disables SSH host key checking, which is useful when provisioning
# frequently destroyed/recreated VMs
host_key_checking = False

# The default SSH user Ansible will use to connect to your machines
remote_user = rlommers

# Hides deprecation warnings to keep the Ansible run output clean
deprecation_warnings = False

# Suppress the Python interpreter discovery warning
interpreter_python = auto_silent

# Vault password file
vault_password_file = .vault_pass
